body {
    font-family: Arial, sans-serif;
    width: 300px; /* Set the width of the popup */
    padding: 10px;
    background-color: #F7F5FB;
    color: #323232;
}

h1, h2, p#short-info {
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

p#short-info {
    font-size: 14px;
}

#current-languages {
    margin-bottom: 15px;
}

#options-link {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #007bff; /* Link color */
}

#options-link:hover {
    text-decoration: underline; /* Underline on hover */
}

#translate-area {
    margin-top: 10px;
}

.dark-theme {
    background-color: #3e3e3e;
    color: #dfdfdf;
}

.dark-theme button {
    background-color: #5b5b5b;
    color: #dfdfdf;
}
